# Auto detect text files and perform LF normalization
* text=auto
# 3D models
*.3dm filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.c4d filter=lfs diff=lfs merge=lfs -text
*.collada filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.dxf filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.jas filter=lfs diff=lfs merge=lfs -text
*.lws filter=lfs diff=lfs merge=lfs -text
*.lxo filter=lfs diff=lfs merge=lfs -text
*.ma filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.mb filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.ply filter=lfs diff=lfs merge=lfs -text
*.skp filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.ztl filter=lfs diff=lfs merge=lfs -text
# Audio
*.aif filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text
*.it filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.s3m filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.xm filter=lfs diff=lfs merge=lfs -text
# Fonts
*.otf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
# Images
*.bmp filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.iff filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pict filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# plugins
*.a filter=lfs diff=lfs merge=lfs -text
kido_mapping.txt filter=lfs diff=lfs merge=lfs -text
generate_xml_from_google_services_json.exe filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/network_request.exe filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/8.1.0/firebase-app-unity-8.1.0.srcaar filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_1_0.bundle.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_1_0.dll filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_1_0.so.meta filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.bundle.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.dll filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.dll.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.so.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_1_0.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_1_0.dll.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_1_0.so filter=lfs diff=lfs merge=lfs -text
FirebaseCppApp-8_1_0.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/Android/com.google.android.gms.play-services-ads-20.2.0.aar filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/AppDependencies.xml filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/AppDependencies.xml.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/Firebase.Crashlytics.Editor.dll.mdb.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/generate_xml_from_google_services_json.exe filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/Firebase.Editor.dll.mdb filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/FirebaseAnalytics_version-8.1.0_manifest.txt.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/AnalyticsDependencies.xml filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/AnalyticsDependencies.xml.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/CrashlyticsDependencies.xml filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/Firebase.Crashlytics.Editor.dll filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/Firebase.Crashlytics.Editor.dll.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/Firebase.Editor.dll filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/generate_xml_from_google_services_json.exe.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/generate_xml_from_google_services_json.py filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/network_request.exe.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/Firebase.Editor.dll.mdb.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/Firebase.Editor.dll.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/FirebaseAnalytics_version-8.1.0_manifest.txt filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/FirebaseCrashlytics_version-8.1.0_manifest.txt.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/network_request.py filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/network_request.py.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/CrashlyticsDependencies.xml.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/Firebase.Crashlytics.Editor.dll.mdb filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/FirebaseCrashlytics_version-8.1.0_manifest.txt filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/generate_xml_from_google_services_json.py.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_7_0.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/8.8.0/firebase-app-unity-8.8.0.srcaar filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/Android/com.google.firebase.firebase-app-unity-8.8.0.aar filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_7_0.so filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
